[Unit]
Description=OHAUS scale proxy

[Service]
Restart=always
RestartSec=5
ExecStart=%h/.bin/ohaus-scale-proxy -config %h/.config/ohaus-scale-proxy.yml

[Install]
WantedBy=multi-user.target
